body{
            background-color: #338a00;
            background-image: url(http://www.transparenttextures.com/patterns/black-thread.png);
        }
        .image {
            clear:both;
            width:70%;
            margin:10px;
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
            display: block;
            margin: 0 auto;
        }
        
        .pic {
            clear:both;
            width:100%;
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
        }
        
        h1 {
            font:11em cursive;
            color: rgb(27, 74, 33);
            position:absolute;
            top: 35px;
            left: 15px;
        }
        h2 {
            font:2em helvetica;
            color: rgb(38, 43, 38);
            }
        h3 {
            font:italic 1.8em helvetica;
            color: rgb(38, 43, 38);
        }
        
        p {
            font:1.3em helvetica;
            color: rgb(26, 41, 27);
            clear:both;
            width:70%;
            margin:10px;
        }
        
        #list {
            background-color: rgb(207, 199, 207);
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
            float: right;
            border: solid rgb(27, 74, 33) 2px;
            margin:10px;
            padding-left:3px;
            margin-left: 5px;
            font: 1.4em helvetica;
            color: rgb(26, 41, 27);
            width: 70%;
            height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            
        }
            
        ul{
            font:1.4em helvetica;
            float: left;
            top: 810px;
            left: 15px;
            clear: both;
            font-family:helvetica;
            color: rgb(26, 41, 27);
            background-color:rgb(207, 199, 207);
            margin-bottom:50px;
            border:solid rgb(27, 74, 33) 2px;
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
        }
        
        .review {
           
            display: inline-block;
            width: 500px;
            height:100px;
            margin-top: 30px;
            margin-left: 30px;
            margin-right: 10px;
            margin- left: 10px;
        }
        
        .review p {
            font:1.3em helvetica;
            color: rgb(26, 41, 27);        
        }
        /*buttons*/
input.MyButton {
            width: 255px;
            height: 50PX;
            margin:5px;
            padding: 10px;
            font-weight: bold;
            font-size: 150%;
            text-align: center;
            background: rgb(27, 74, 33);
            color: #FFFFFF;
            cursor: pointer;
            border: 1px solid #999999;
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
}

input.MyButton:hover {
            color: #FFFF00;
            background: rgb(43, 87, 54);
            border: 1px solid #A3A3A3;
            -webkit-box-shadow: 2px 2px 5px #666666;
            -moz-box-shadow: 2px 2px 5px #666666;

}
        
