body{
            background-color: #128500;
            background-image: url(https://www.transparenttextures.com/patterns/black-thread-light.png);
        }
        .image {
            clear:both;
            width:70%;
            margin:10px;
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
            display: block;
            margin: 0 auto;
        }
        
        .pic {
            clear:both;
            width:100%;
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
        }
        
        div.about {
            position:absolute;
            left:.6em;
            width:18%;
        }
        
        div.phrases {
            position:absolute;
            top:110em;
            width 70%
            clear:both;
        }
        
        div.map{
             border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
            position:absolute;
            border: solid rgb(27, 74, 33) 2px;
            top: 68.5em;
            right: 1.5em;
            color: rgb(26, 41, 27);
            width: 70%;
            overflow-y: auto;
            overflow-x: hidden;       
        }
        
        .icon {
            border-radius:10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
            width:1em;
            cursor:pointer;
        }
        .info_box {
            font:.8em helvetica;
            position: center;
            width:7em;
            font-family:helvetica;
            color:rgb(26, 41, 27);
            background-color:rgb(207, 199, 207);
            border:solid rgb(27, 74, 33) 2px;
            border-radius:10px;
            -webkit-box-shadow:6px 6px 5px #999999;
            -moz-box-shadow:6px 6px 5px #999999;
        }
        
        #sgh_icon {
            position:absolute;
            top:24em;
            right:20em;        
        }
        
        #sgh {
            position:absolute;
            top:30em;
            right:23.5em;        
        }
        
        #masjid_icon {
            position:absolute;
            top:8.5em;
            right:49em;         
        }
        
        #masjid {
            position:absolute;
            top:9em;
            right:58.5em;         
        }
        
        #hafez_icon {
            position:absolute;
            top:26em;
            right:25.5em;        
        }
        #hafez {
            position:absolute;
            top:30em;
            right:30em;
        }
        
        #ali_icon {
            position:absolute;
            top:25.5em;
            right:24em;        
        }
        #ali {
            position:absolute;
            top:24em;
            right:28em;
        }
        
        #bintang_icon {
            position:absolute;
            top:25.5em;
            right:22.5em;        
        }
        #bintang {
            position:absolute;
            top:33em;
            right:29em;
        }
        
        #osakahalal_icon {
            position:absolute;
            top:7.5em;
            right:49em;        
        }
        #osakahalal {
            position:absolute;
            top:8em;
            right:57.5em;
        }
        
        #shama_icon {
            position:absolute;
            top:26em;
            right:27em;        
        }
        #shama {
            position:absolute;
            top:32em;
            right:33em;
        }
        
        #honmachimughal_icon {
            position:absolute;
            top:20em;
            right:27.5em;        
        }
        #honmachimughal {
            position:absolute;
            top:26em;
            right:36em;
        }
        
        #Sinasos_icon {
            position:absolute;
            top:8em;
            right:26em;        
        }
        #Sinasos {
            position:absolute;
            top:8em;
            right:31em;
        }
        
        #istanbulkonak_icon {
            position:absolute;
            top:27em;
            right:27em;        
        }
        #istanbulkonak {
            position:absolute;
            top:33em;
            right:33em;
        }
        
        #pyramids_icon {
            position:absolute;
            top:2em;
            right:28em;        
        }
        #pyramids {
            position:absolute;
            top:2em;
            right:3em;
        }
        
        #babulhayat_icon {
            position:absolute;
            top:32em;
            right:49.5em;        
        }
        #babulhayat {
            position:absolute;
            top:34em;
            right:57.5em;
        }
        
        #Ganko_icon {
            position:absolute;
            top:29.5em;
            right:23em;        
        }
        #Ganko {
            position:absolute;
            top:36.5em;
            right:30em;
        }
        
        #kurakus_icon {
            position:absolute;
            top:33em;
            right:22.5em;        
        }
        #kurakus {
            position:absolute;
            top:37em;
            right:27em;
        }
        
        #map_intro {
            position:absolute;
            top:23.5em;
            right:.5em;
            font:2.5em helvetica;
            color:yellow;
        }
        
        h1 {
            font:11em cursive;
            color: rgb(27, 74, 33);
            position:absolute;
            top: 35px;
            left: 15px;
        }
        h2 {
            font:2em helvetica;
            color: rgb(38, 43, 38);
            }
        h3 {
            font:italic 1.8em helvetica;
            color: rgb(38, 43, 38);
        }
        
        p {
            font:1.3em helvetica;
            color: rgb(26, 41, 27);
            width:70%;
            margin-left:7.5em;
        }
        
        #list {
            background-color: rgb(207, 199, 207);
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
            float: right;
            border: solid rgb(27, 74, 33) 2px;
            margin:10px;
            padding-left:3px;
            margin-left: 1.5px;
            margin-right: 5em;
            font: 1.4em helvetica;
            color: rgb(26, 41, 27);
            width: 40%;
            height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            
        }
        #list_p {
            font:1.4em helvetica;
            color: rgb(38, 43, 38); 
            margin-left: 1.5px;
        }
            
        ul{
            font:1.4em helvetica;
            float: left;
            top: 810px;
            left: 15px;
            clear: both;
            font-family:helvetica;
            color: rgb(26, 41, 27);
            background-color:rgb(207, 199, 207);
            margin-left:5.5em;
            margin-bottom:1em;
            border:solid rgb(27, 74, 33) 2px;
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
        }
        
        .review {
           
            display: inline-block;
    width: 40%;
    height:40%;
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: .8em;
    margin-bottom: .8em;
    
        }
        
        .review p {
            font:1.3em helvetica;
            color: rgb(26, 41, 27);
            margin-left:2em;
        }
        /*buttons*/
input.MyButton {
            width: 22%;
            height: 4em;
            margin: .4em;
            padding: .1em;
            font-weight: bold;
            font-size: 100%;
            text-align: center;
            background: rgb(27, 74, 33);
            color: #FFFFFF;
            cursor: pointer;
            border: .1em solid #999999;
            border-radius: 10px;
            -webkit-box-shadow: 6px 6px 5px #999999;
            -moz-box-shadow: 6px 6px 5px #999999;
}

input.MyButton:hover {
            color: #FFFF00;
            background: rgb(43, 87, 54);
            border: 1px solid #A3A3A3;
            -webkit-box-shadow: 2px 2px 5px #666666;
            -moz-box-shadow: 2px 2px 5px #666666;

}
        
